.login {
    height: 500px;
}

.login-form {
    background-color: white;
    width: 350px;
    height: 220px;
    margin: 10% auto;
    box-shadow: 3px 3px 4px -2px gray;
    border-radius: 5px;
}

.login-form_title {
    background-color: #0066FF;
    color: white;
    font-weight: bolder;
    font-size: larger;
    height: 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.title-content {
    margin-top: 0;
    padding-left: 15px;
    padding-top: 10px;
}

.login-form_input {
    height: 200px;
}

.input {
    width: 350px;
    margin: 0 0 0 auto;
}

.form_input {
    display: flex;
}

.email-icon {
    margin-left: 20px;
}

.password-icon {
    margin-left: 20px;
}
.form {
    border: none;
    border-bottom: 1px solid black;
    width: 280px;
    height: 30px;
    margin-right: 0px;
    margin-top: 10px;
    margin-left: 10px;
}

.form_error {
    margin-left: 60px;
    margin-top: -15px;
    height: 20px;
    color: red;
    font-size: 13px;
}

.login-button {
    margin-top: 5px;
    padding-right: 20px;
    text-align: right;
}

.button {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #0066FF;
    color: white;
    cursor: pointer;
}